.bike {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  z-index: -1;
}

.trail {
  position: fixed;
  top: 0;
  left: 50%;
  width: 2px;
  height: 2px;
  background-color: black;
  border-radius: 50%;
  z-index: -1;
}